
TAPIS_CLIENT = {
  'base_url': 'https://portals.tapis.io',
  'client_id': '',
  'client_key': '',
  'access_token': '',
  'refresh_token': ''
}

LONESTAR6_KEYS = {
  'publicKey': 'ssh-rsa AAAA*****',
  'privateKey': '-----BEGIN RSA PRIVATE KEY-----\nMIIE*****'
}

CLIENT_CREDENTIALS = {
  'username': '',
  'password': ''
}
